.new-todo {
    background-color: red;
    padding: 1rem;
}
.form-group label {
    text-align: left;
    font-weight: bold;
}
.form-group input {
    margin-bottom: 1rem;
    font:inherit;
    background-color: white;
    color: black;
}

.form-group label,
.form-group input {
    display: block;
    width: 100%;
}

.button {
    width: 100%;
}